.header {
	overflow: hidden;
	background-color: #ffffff;
	padding: 20px 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.header b {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 20px;
}

.header img.logo {
	font-size: 25px;
	font-weight: bold;
	width: 70px;
	height: 50px;
}

.header b:hover {
	background-color: #ffce8e;
	color: white;
}

.header b.active {
	background-color: #ffce8e;
	color: white;
}

.header-right {
	float: right;
}